.postPrevPost{
    top:2782px;
    border-top: 1px solid #D7D7D7;
    display:flex;
    padding-top: 2rem;
    justify-content: space-between;
}

.postPrevPost span:first-child{
    width: 300px;
    height: 22px;
    left: 370px;
    top: 2830px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: -0.5px;
    
    /* Heading */
    color:var(--text);
    p {
        height: 19px;
        left: 370px;
        top: 2860px;

        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.5px;

        color:var(--pink-500);
    }
}

.postPrevPost span:last-child{
    text-align:right;
    width: 300px;
    color:var(--text);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    p {
        height: 19px;
        left: 370px;
        top: 2860px;

        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.5px;

        color:var(--pink-500);
    }
}

